:root{
    --primary:#100e17;
    --secondary:#17141d;
    --tertiary:#7a7a8c;
    --quarternary:#f46330;
    --quintary:#28242f;
    --fund: rgb(76, 83, 13);
    --fundM: rgb(224, 245, 41);
}

*{
    padding: 0;
    margin: 0;/*margin de todos elementos*/
    box-sizing: border-box; /*fica o espaço que eu determinei. Independente de margin ou outra coisa*/
    } /*resect*/ 

body,html{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--primary);
    color: #ffffff;
}

.img{
    width: 250px;
    height: 200px;
    align-items: center;
    border-radius: 44px;
    margin-left: 11px;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center; /*alinhar verticalmente e horizontalmente*/
    padding: 60px;
    overflow: hidden;
    background-color:  var(--s);
} /*está ocupando todo o espaçamento da tela (diminuo width e height se quiser tirar)*/

.card{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex; /* a tendencia é que fique em linha*/
    justify-content: space-between; /*vai distribuir conteudo no card*/
    flex-direction: column; /*Porem, assim, ele se arruma em coluna*/
    background-color: var(--secondary);
    font-size: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 90px 0 var(--fund);
}

.card:hover{
box-shadow: 0 0 80px 0  var(--fundM);
}

.card .data{
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

time{
   color:var(--tertiary);
}
h2{
    font-size: 16px;
    line-height: 18px;
    display: block;
    text-align: center;
}
/*.inform{
    text-align: center;
  
}*/